@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');
@import "style-guide";
@import "partials/layout";
@import "partials/card";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: $ff-poppins;
    font-size: 15px;
}

img{
    max-width: 100%;
}