// Colors

// Primary

$clr-bg-very-dark-blue : hsl(233, 47%, 7%);
$clr-bg-dark-desaturated-blue: hsl(244, 38%, 16%);
$clr-soft-violet: hsl(277, 64%, 61%);
$clr-dark-violet: hsl(277, 90%, 32%);

// Neutral

$clr-white: hsl(0, 0%, 100%);
$clr-slightly-transparent-paragraph: hsla(0, 0%, 100%, 0.75);
$clr-slightly-transparent-headings: hsla(0, 0%, 100%, 0.6);

// Fonts

$ff-inter: 'Inter', sans-serif;
$ff-lexend-deca: 'Lexend Deca', sans-serif;
$fw-regular: 400;
$fw-bold: 700;